@import "../CSS/variables.css";
body, *{
margin: 0;
padding: 0;
box-sizing: border-box;
font-size: 10px;
}
.warm{
  --primary: var(--orange-red);
  --secondary: var(--white-3);
  --tetriary: var(--grey-black);
}
.cool{
  --primary: var(--light-blue);
  --secondary: var(--white-yellow);
  --tetriary: var(--light-cyan);
}
.dark{
--primary: var(--medium-grey);
--secondary: var(--white-2);
--tetriary: var(--dark-yellow);
}
.light{
--primary: var(--white-2);
--secondary: var(--grey-black);
--tetriary: var(--light-green);
}
body{
  background-color: var(--primary)
}
h1{font-size: var(--h1);} h2{font-size: var(--h2);} h3{font-size: var(--h3);} h4{font-size: var(--h4);} h5{font-size: var(--h5);}
h1,h2,h3,h4,h5{text-align: center; color: var(--secondary);}
#special{color: var(--tetriary);}

.modeButton{
  width: 5%;
  height: 7%;
  border: 2px solid var(--secondary);
  color: var(--primary);
  background-color: var(--tetriary);
}